@import url(./fonts.css);

:root {
  --first-color: #286F6A;
  --second-color: #e7ad1a;
  --third-color: #F2643F;
  --body-font-color: #333;
  --body-font: 'Lora', serif;
  --heading-font: 'Poppins', sans-serif;
  --body-color: #F8F7F0;
  --darkgrey: #272727;
}